  <div class="footer-padding"></div>
  <div class="footer">
    <% const theYear = new Date().getFullYear()%>
    <p>Cash Planner <%= theYear %> </p>
  </div>
</div> <!-- This belongs to the main div in list.ejs-->


</body>

</html>
