<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cash Planner 2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/styles.css" type="text/css" rel="stylesheet" /> <!--When using custom parameters make sure to put a / before the css folder -->
  <script src="https://kit.fontawesome.com/27cb7f1fb6.js" crossorigin="anonymous"></script>

</head>

<body>
