<%- include("partials/header"); -%>
  <div class="login-frame">
    <h4>Plan your financial future</h4>

    
    <a class="btn" href="/auth">Login with Starling Account</a>
  </div>
<%- include("partials/footer"); -%>
