<%- include("partials/header"); -%>
    <div class="login-section">

        <h1>Cash Planner (2.0)</h1>
        <h4>Plan your financial future</h4>
        <a class="btn" href="/auth">Login with Starling Account</a>

    </div>


<%- include("partials/footer"); -%>
